In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [14]:
car_data=pd.read_csv('car data.csv')

In [15]:
car_data.head(20)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
5,vitara brezza,2018,9.25,9.83,2071,Diesel,Dealer,Manual,0
6,ciaz,2015,6.75,8.12,18796,Petrol,Dealer,Manual,0
7,s cross,2015,6.50,8.61,33429,Diesel,Dealer,Manual,0
8,ciaz,2016,8.75,8.89,20273,Diesel,Dealer,Manual,0
9,ciaz,2015,7.45,8.92,42367,Diesel,Dealer,Manual,0
10,alto 800,2017,2.85,3.60,2135,Petrol,Dealer,Manual,0
11,ciaz,2015,6.85,10.38,51000,Diesel,Dealer,Manual,0
12,ciaz,2015,7.50,9.94,15000,Petrol,Dealer,Automatic,0
13,ertiga,2015,6.10,7.71,26000,Petrol,Dealer,Manual,0
14,dzire,2009,2.25,7.21,77427,Petrol,Dealer,Manual,0
15,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0
16,ertiga,2015,7.25,10.79,41678,Diesel,Dealer,Manual,0
17,ertiga,2016,7.75,10.79,43000,Diesel,Dealer,Manual,0
18,wagon r,2015,3.25,5.09,35500,CNG,Dealer,Manual,0
19,sx4,2010,2.65,7.98,41442,Petrol,Dealer,Manual,0

In [16]:
car_data.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [10]:
car_data.shape

(8128, 13)

In [12]:
car_data=car_data.dropna()

In [13]:
car_data.isnull().sum()

name             0
year             0
selling_price    0
km_driven        0
fuel             0
seller_type      0
transmission     0
owner            0
mileage          0
engine           0
max_power        0
torque           0
seats            0
dtype: int64

In [17]:
car_data.replace({'Fuel_Type':{'Petrol':0,'Diesel':1,'CNG':2}},inplace=True)


car_data.replace({'Seller_Type':{'Dealer':0,'Individual':1}},inplace=True)


car_data.replace({'Transmission':{'Manual':0,'Automatic':1}},inplace=True)

In [18]:
car_data.head(20)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,0,0,0,0
1,sx4,2013,4.75,9.54,43000,1,0,0,0
2,ciaz,2017,7.25,9.85,6900,0,0,0,0
3,wagon r,2011,2.85,4.15,5200,0,0,0,0
4,swift,2014,4.60,6.87,42450,1,0,0,0
5,vitara brezza,2018,9.25,9.83,2071,1,0,0,0
6,ciaz,2015,6.75,8.12,18796,0,0,0,0
7,s cross,2015,6.50,8.61,33429,1,0,0,0
8,ciaz,2016,8.75,8.89,20273,1,0,0,0
9,ciaz,2015,7.45,8.92,42367,1,0,0,0
10,alto 800,2017,2.85,3.60,2135,0,0,0,0
11,ciaz,2015,6.85,10.38,51000,1,0,0,0
12,ciaz,2015,7.50,9.94,15000,0,0,1,0
13,ertiga,2015,6.10,7.71,26000,0,0,0,0
14,dzire,2009,2.25,7.21,77427,0,0,0,0
15,ertiga,2016,7.75,10.79,43000,1,0,0,0
16,ertiga,2015,7.25,10.79,41678,1,0,0,0
17,ertiga,2016,7.75,10.79,43000,1,0,0,0
18,wagon r,2015,3.25,5.09,35500,2,0,0,0
19,sx4,2010,2.65,7.98,41442,0,0,0,0

In [34]:
#USING MULTIPLE LINEAR REGRESSION
from sklearn import linear_model
regr = linear_model.LinearRegression()
x=np.asanyarray(car_data[['Year','Present_Price','Kms_Driven','Fuel_Type','Seller_Type','Transmission','Owner']])
y=np.asanyarray(car_data[['Selling_Price']])



from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=2)
regr.fit(x_train,y_train)

from sklearn import metrics
y_predicted=regr.predict(x_test)
error_score = metrics.r2_score(y_test, y_predicted)
print("R squared Error : ", error_score)

R squared Error :  0.8365766715026901

In [40]:
#USING  LASSO REGRESSION
from sklearn.linear_model import Lasso
lasso_regr=Lasso()

lasso_regr.fit(x_train,y_train)
y_lasso_predicted=lasso_regr.predict(x_test)
error_score = metrics.r2_score(y_test, y_lasso_predicted)
print("R squared Error : ", error_score)

R squared Error :  0.8709167941173195

In [45]:
print("coefficients=",lasso_regr.coef_)

coefficients= [ 3.41436987e-01  5.09941877e-01 -6.89878945e-06  0.00000000e+00
 -0.00000000e+00  0.00000000e+00 -0.00000000e+00]